<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954288427371-ifp251he17sth0rp077fjdh6sqnucb45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954288427371-ifp251he17sth0rp077fjdh6sqnucb45</string>
	<key>API_KEY</key>
	<string>AIzaSyAfUwi95UAjTWUZ9Sci-V83opIxPIftAn4</string>
	<key>GCM_SENDER_ID</key>
	<string>954288427371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>talke-5b6ac</string>
	<key>STORAGE_BUCKET</key>
	<string>talke-5b6ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954288427371:ios:45c0511fc8d01b4e513c2e</string>
</dict>
</plist>